.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-0);
  border: 2px solid var(--color-2);
  border-radius: 5px;

  height: 400px;

  margin-bottom: 10px;
  padding: 10px;
}

@media only screen and (max-width: var(--small-screen)) {
  .dashboard-card {
    width: 90%;
  }
}

@media only screen and (min-width: var(--small-screen)) and (max-width: var(--big-screen)) {
  .dashboard-card {
    width: 45%;
  }
}

@media only screen and (min-width: var(--big-screen)) {
  .dashboard-card {
    width: 30%;
  }
}
