<h1>Welcome to Cygnus</h1>
<div class="dashboard">
  <cgn-dashboard-card></cgn-dashboard-card>
  <cgn-dashboard-card></cgn-dashboard-card>
  <cgn-dashboard-card></cgn-dashboard-card>
  <cgn-dashboard-card></cgn-dashboard-card>
  <cgn-dashboard-card></cgn-dashboard-card>
  <cgn-dashboard-card></cgn-dashboard-card>
</div>
